/* Importing the 'Lato' font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Styling for the main container */
#main {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Lato', sans-serif;
}

/* Styling for each day element */
.day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2px;
    transition: all .2s cubic-bezier(.17,.67,.83,.67);
}

/* Styling when hovering over a day element */
.day:hover {
    box-shadow: -1px 1px 11px 4px rgba(0, 0, 0, 0.35);
}

/* Styling for the first span element inside each day element */
.day span:first-child {
    text-align: center;
    width: 100%;
    font-weight: 700;
    font-size: 1.5em;
    background: rgb(64, 149, 181);
    color: white;
}

/* Styling for the last span element inside each day element */
.day span:last-child {
    font-weight: 400;
    font-size: 2em;
}